In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.3'

## Series

In [6]:
list = [1,2,3,4,5]
print(list)
series = pd.Series(list)
print(series)
print(type(series))

[1, 2, 3, 4, 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

## Empty Series

In [8]:
empty = pd.Series([])
print(empty)

Series([], dtype: object)

In [14]:
a = pd.Series([23,24,25,26, 'p'], index = [6,7,8,9,10])
print(a)
b = pd.Series(['P','A','R','A','G'], index = [6,7,8,9,10], name = "Boss")
print(b)

6     23
7     24
8     25
9     26
10     p
dtype: object
6     P
7     A
8     R
9     A
10    G
Name: Boss, dtype: object

## Series with Dictionary

In [19]:
dict_series = pd.Series({'p':1, 'a':2, 'r':3, 'A':4, 'g':5})
print(dict_series)
print(dict_series[0:2])

p    1
a    2
r    3
A    4
g    5
dtype: int64
p    1
a    2
dtype: int64

## DataFrame

In [ ]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []
-----

## DataFrame using list

In [27]:
list = [1,2,3,4,5]
df = pd.DataFrame(list)
print(df)
print("-----")
ll = [[1,2,3,4,5],[11,12,13,14,15]]
print(pd.DataFrame(ll))

   0
0  1
1  2
2  3
3  4
4  5
-----
    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

## DataFrame Using Dictionary

In [30]:
a = {'Roll No.': pd.Series([1,2,3]),
     'Maths':pd.Series([80,60,90]),
     'Physics': pd.Series([50,60,70])}
df = pd.DataFrame(a)
print(df)

   Roll No.  Maths  Physics
0         1     80       50
1         2     60       60
2         3     90       70

## Read CSV with DataFrames

In [ ]:
df= pd.read_csv(r'E:\Software Sub Team Weekly Tasks\Week-3\DataSets\Sample_1.csv')
#print("Total CSV: \n",df) # total csv

print("Columns: \n",df.columns)
print("Shape: ",df.shape)
print("Size: ",df.size)
#print(df.head()) # it will give me the top 5 rows
#print(df.head(2)) # it will give me the top 2 rows
#print(df.tail()) # it will give me the last 5 rows 
#print(df.tail(2))
print(df.describe()) # it will give me the numeric data 
print(df.info())

Columns:
 Index(['YearsExperience', 'Salary'], dtype='object')
Shape:  (17, 2)
Size:  34
       YearsExperience        Salary
count        17.000000     17.000000
mean          3.211765  54570.235294
std           1.237377   9694.578031
min           1.100000  37731.000000
25%           2.200000  46205.000000
50%           3.200000  56957.000000
75%           4.000000  61111.000000
max           5.100000  67938.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  17 non-null     float64
 1   Salary           17 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 404.0 bytes
None

## Handling Null Or Missing Values

In [56]:
df2 = pd.read_csv(r'E:\Software Sub Team Weekly Tasks\Week-3\DataSets\Sample_2.csv')
#print(df2)
print(df2.head())

   Roll No.  Physics  Chemistry  Maths  Computer
0         1     56.0       57.0   58.0      59.0
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0
4         5     23.0       27.0   28.0      29.0

In [57]:
df2.isnull()

    Roll No.  Physics  Chemistry  Maths  Computer
0      False    False      False  False     False
1      False    False      False  False     False
2      False    False      False  False     False
3      False    False      False  False     False
4      False    False      False  False     False
5      False    False       True  False     False
6      False    False      False  False     False
7      False    False      False  False     False
8      False     True      False  False     False
9      False    False      False  False     False
10     False     True      False  False     False
11     False    False       True  False     False
12     False    False      False  False     False
13     False    False       True   True     False
14     False     True      False  False     False
15     False    False      False  False     False
16     False    False      False  False     False
17     False    False      False  False     False
18     False    False      False  False     False
19     False    False      False  False     False
20     False    False      False  False     False
21     False    False      False  False     False
22     False    False      False  False     False
23     False    False      False  False     False
24     False    False       True   True     False
25     False    False      False  False     False
26     False    False      False  False     False
27     False    False      False  False      True
28     False    False      False  False     False
29     False    False      False  False     False

In [62]:
print(df2.isnull().sum())
print("Total Null Values:",df2.isnull().sum().sum())

Roll No.     0
Physics      3
Chemistry    4
Maths        2
Computer     1
dtype: int64
Total Null Values: 10

In [ ]:
## Droping rows with Null Values
print("Shape with Null value:",df2.shape)
# removing null and storing in df3 
df3 = df2.dropna() # df2.dropna(asix = 0)- > drop rows with null, for 1 it will drop a column with null value
print("df3 shape:", df3.shape)

# df2.dropma(how ='any') # if any row value is null then remove that row
# df2.dropma(how ='all') # if all row value is null then remove that row
# df2.dropna(inplace = True) # it will remove the Null rows and replace the orginal dataframe

Shape with Null value: (30, 5)
df3 shape: (22, 5)

In [73]:
## filling the null values
print(df2.fillna(0)) # fill the null values with 0
# print(df2.fillna({'Physics':'none', 'Chemistry':0, 'Maths':30}) )
#print(df2.ffill()) # fill with previous value
#print(df2.ffill(axis= 1)) # fill with previous column value
#print(df2.ffill()) #fill with next value
print(df2['Physics'].fillna(value = df2['Physics'].mean())) # fill with mean value

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        0.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      0.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      0.0       17.0   18.0      19.0
11        12     88.0        0.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        0.0    0.0      42.0
14        15      0.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        0.0    0.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       0.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0
0     56.000000
1     23.000000
2     89.000000
3     45.000000
4     23.000000
5     90.000000
6     12.000000
7     78.000000
8     52.814815
9     45.000000
10    52.814815
11    88.000000
12    22.000000
13    90.000000
14    52.814815
15    44.000000
16    45.000000
17    46.000000
18    47.000000
19    48.000000
20    49.000000
21    50.000000
22    51.000000
23    52.000000
24    53.000000
25    54.000000
26    55.000000
27    56.000000
28    57.000000
29    58.000000
Name: Physics, dtype: float64

## Replace Numbers

In [75]:
#df2.replace(to_replace=26, value=30)
print(df2.replace(34, 10000))
#df2.replace(to_replace=[50,51,52,53,54,55,56,57,58,59], value= 'A')
#df2.replace(to_replace=[50,51,52,53], value= ['A', 'B', 'C', 'D'])
#df2['Physics'].replace(to_replace=[50,51,52,53], value= ['A', 'B', 'C', 'D'], inplace = True)

    Roll No.  Physics  Chemistry    Maths  Computer
0          1     56.0       57.0     58.0      59.0
1          2     23.0       24.0     25.0      26.0
2          3     89.0       25.0     26.0      27.0
3          4     45.0       26.0     27.0      28.0
4          5     23.0       27.0     28.0      29.0
5          6     90.0        NaN     29.0      30.0
6          7     12.0       13.0     14.0      15.0
7          8     78.0       14.0     15.0      16.0
8          9      NaN       15.0     16.0      17.0
9         10     45.0       16.0     17.0      18.0
10        11      NaN       17.0     18.0      19.0
11        12     88.0        NaN     19.0      20.0
12        13     22.0       23.0     24.0      25.0
13        14     90.0        NaN      NaN      42.0
14        15      NaN       43.0     43.0      43.0
15        16     44.0       44.0     44.0      44.0
16        17     45.0       45.0     45.0      45.0
17        18     46.0       46.0     46.0      46.0
18        19     47.0       47.0     47.0      47.0
19        20     48.0       48.0     48.0      48.0
20        21     49.0       49.0     49.0      49.0
21        22     50.0       50.0     50.0      50.0
22        23     51.0       51.0     51.0      51.0
23        24     52.0       52.0     52.0      52.0
24        25     53.0        NaN      NaN      53.0
25        26     54.0       33.0     33.0      54.0
26        27     55.0    10000.0  10000.0      55.0
27        28     56.0       35.0     35.0       NaN
28        29     57.0       36.0     36.0      66.0
29        30     58.0       37.0     37.0      43.0