## Create Connection

In [3]:
import mysql.connector

# Step 1: Connect without database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()

# Step 2: Create database + a sample table
mycursor.execute("CREATE DATABASE IF NOT EXISTS employee_db")

mydb.close()

# Step 3: Reconnect to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="employee_db"
)

mycursor = mydb.cursor()

# Optional: create a sample table so you know everything works
mycursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    salary FLOAT
)
""")

print("Everything is working perfectly!")

Everything is working perfectly!

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="employee_db"
)

cursor = db.cursor()

# Example operations
cursor.execute("INSERT INTO employees (name, salary) VALUES ('Parag', 75000)")
cursor.execute("INSERT INTO employees (name, salary) VALUES ('Darshan', 68000)")
db.commit()

cursor.execute("SELECT * FROM employees")
for row in cursor.fetchall():
    print(row)

cursor.close()
db.close()

(1, 'Parag', 75000.0)
(2, 'David', 68000.0)